<a href="https://colab.research.google.com/github/benitoredin0/BootCamp-2/blob/main/ejerciciosPython3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.pinimg.com/originals/73/20/2a/73202af19e27fbfac7acddeb1763e789.jpg)


### 1.1
Escribir un script que pregunte el nombre del usuario, luego muestre por pantalla el siguiente mensaje:

¡Hola ``nombre``!, tu nombre tiene ``cantidad_de_letras`` letras
    
    
- ``nombre`` es el nombre que el usuario haya introducido.
- ``cantidad_de_letras`` es la cantidad de letras que posee ``nombre``

In [ ]:

name = input("¿Cuál es tu nombre? ")
cantidad_de_letras=len(name)
print('Su nombre tiene',cantidad_de_letras,'letras')

¿Cuál es tu nombre? Santiago
Su nombre tiene 8 letras

### 1.2
Escribir un script que pregunte el nombre y apellido del usuario y después muestre el nombre completo del usuario tres veces:

- una con todas las letras minúsculas
- otra con todas las letras mayúsculas
- otra solo con la primera letra del nombre y de los apellidos en mayúscula.

In [ ]:
name=input('Ingrese su nombre: ')
lastname=(input('Ingrese su apellido: '))
print('Su nombre y apellido es:',name.lower(),lastname.lower())
print('Su nombre y apellido es:',name.upper(),lastname.upper())
print('Su nombre y apellido es:',name.capitalize(),lastname.capitalize())

Ingrese su nombre: Lionel
Ingrese su apellido: Messi
Su nombre y apellido es: lionel messi
Su nombre y apellido es: LIONEL MESSI
Su nombre y apellido es: Lionel Messi

### 1.3
Se tiene un dataset cuyos numeros telefonico siguen el siguiente formato: *prefijo-número-extension*

Ejemplo: +34-913724710-56

- Dado un numero telefonico, se pide mostrar en consola el siguiente mensaje:

Su numero de telefono es: +34-913724710-56, Prefijo: 34, Numero: 913724710 y Extension: 56*

**Ojo: no se vale contar caracteres, ya que la longitud tanto del prefijo, numero y extension podrian variar.**

In [ ]:
nro=input("Ingrese su numero telefonico: ")
tel=nro.split("-")
print('Su numero de telefono es',nro,',Prefijo:',tel[0],',Numero:',tel[1],'y Extension:',tel[2]+'*')

Ingrese su numero telefonico54-11442125-12
Su numero de telefono es 54-11442125-12 ,Prefijo: 54 ,Numero: 11442125 y Extension: 12*

### 1.4
Dada la siguiente lista de ``mails_viejos``, pasarla de forma automatizada a la de ``mails_nuevos``

In [ ]:
mails_viejos=[1,2,3,4];mails_nuevos=[]
a=len(mails_viejos)

for i in range(a):
  mails_nuevos.append(mails_viejos[i])


mails_viejos.append(5) #Añade un valor a la lista mails_viejos

#Automatización para mails viejos
mails_nuevos.append(mails_viejos[-1])
print(mails_nuevos)

[1, 2, 3, 4, 5]

### 1.5
Escribir un script que pregunte al usuario por la contraseña e imprima por pantalla si la contraseña introducida por el usuario coincide con la guardada en la variable **sin tener en cuenta mayúsculas y minúsculas.**

In [ ]:
password="HolA123"
if password.lower()==(input('Ingrese su contraseña:')).lower():
  print('Ha iniciado sesión exitosamente')
else: print('La contraseña es erronea')

Ingrese su contraseña:HOLA123
Ha iniciado sesión exitosamente

### 1.6
Un Banco quiere etiquetar a sus clientes en funcion de su salario para poder saber si puede asignarle o no una tarjeta de crédito. Solo los clientes clase A y B pueden acceder a la tarjeta.

| Salario              | Clasificación |
|----------------------|---------------|
| Menos de 20000       | D             |
| Entre 20000 y 50000  | C             |
| Entre 50000 y 100000 | B             |
| Mas de 100000        | A             |

Generar un Script que dado un salario ingresado devuelva que clasificacion tiene y si califica o no para la tarjeta

In [ ]:

sueldo=int(input('Ingrese su sueldo para saber si puede acceder a la tarjeta:'))
aClass=sueldo>=100000;bClass=sueldo>=50000 and sueldo<100000;cClass=sueldo>=20000 and sueldo<50000;dClass=sueldo<20000
if aClass: clase='A'
if bClass: clase='B'
if cClass: clase='C'
if dClass: clase='D'

if aClass or bClass:
  print('Usted es clasificación',clase,'y califica para acceder a la tarjeta')
else: print('No cumple con los requisitos para calificar para la tarjeta, su clase es',clase)

Ingrese su sueldo para saber si puede acceder a la tarjeta:5000
No cumple con los requisitos para calificar para la tarjeta, su clase es D

### 1.7
Mostrar en consola todos los numeros desde el 1 hasta el 1000 que sean capicua (1, 11,101,etc)

In [ ]:


for i in range(1,1000):
  a=str(i)
  a2=a[::-1]
  if a==a2: print(i)

### 1.8
Escribir un programa que pida al usuario un número entero y muestre por pantalla un triángulo rectángulo como el de más abajo, de altura el número introducido.

1

3 1

5 3 1

7 5 3 1

9 7 5 3 1

In [45]:

altura = int(input("Ingresar la altura del triangulo: "))

for i in range(1, altura + 1):
  c=1
  for j in range(i, 0, -1):
    print(c, end=" ")
    c+=2
  c+=2
  print()

Ingresar la altura del triangulo: 6
1
1 3
1 3 5
1 3 5 7
1 3 5 7 9
1 3 5 7 9 11

### 1.9

Escribir un script que dado un número entero positivo muestre la cuenta atrás desde ese número hasta cero separados por comas.

In [ ]:
def cuenta_atras(numero):
    num = list(range(numero, -1, -1))
    print(", ".join(map(str, num)))

numero = int(input("Ingrese un número positivo: "))

if numero >= 0:
    cuenta_atras(numero)
else:
    print("El número ingresado no es correcto.")

Ingrese un número positivo: 54
54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0

### 2.0

Escribir un script que dado un número entero positivo muestre la cuenta atrás desde ese número hasta cero separados por comas.

In [ ]:
def cuenta_atras(numero):
    num = list(range(numero, -1, -1))
    print(", ".join(map(str, num)))

numero = int(input("Ingrese un número positivo: "))

if numero >= 0:
    cuenta_atras(numero)
else:
    print("El número ingresado no es correcto.")

### 2.2

Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista, pregunte al usuario la nota que ha sacado en cada asignatura y elimine de la lista las asignaturas aprobadas. Al final el programa debe mostrar por pantalla las asignaturas que el usuario tiene que repetir.

In [ ]:
def main():
    asignaturas = ["Matemáticas", "Física", "Química", "Historia", "Lengua"]
    asignaturas_repetir = []

    for asignatura in asignaturas:
        nota = float(input(f"Ingrese su nota en {asignatura}: "))
        if nota < 7:
            asignaturas_repetir.append(asignatura)
        if nota > 10:
            print("Nota no válida")

    print("Debe repeteir las siguientes asignaturas:")
    for asignatura in asignaturas_repetir:
        print(asignatura)

if __name__ == "__main__":
    main()

Ingrese su nota en Matemáticas: 7
Ingrese su nota en Física: 5
Ingrese su nota en Química: 7
Ingrese su nota en Historia: 9
Ingrese su nota en Lengua: 2
Debe repeteir las siguientes asignaturas:
Física
Lengua

### 2.3

Escribir un programa que pida al usuario una palabra y muestre por pantalla el número de veces que contiene cada vocal.

In [ ]:
def contVocal(word):
  vocales=[]
  for i in word:
    if i.lower() in 'aeiou':
      vocales.append(i)
  return vocales

word=input('Ingrese una palabra: ')
#vocal = contVocal(word)


print(contVocal(word))

Ingrese una palabra: hol
['o']

### 2.4
Escribir un programa que guarde en un diccionario los precios de las frutas de la tabla, pregunte al usuario por una fruta, un número de kilos y muestre por pantalla el precio de ese número de kilos de fruta. Si la fruta no está en el diccionario debe mostrar un mensaje informando de ello.

| Fruta   | Precio por Kg |
|---------|---------------|
| Banana  | 150           |
| Manzana | 200           |
| Pera    | 180           |
| Naranja | 100           |

In [ ]:
preciosFrutas = {
    'Banana': 150,
    'Manzana': 200,
    'Pera': 180,
    'Naranja': 100
}

fruta = input("Ingrese el nombre de la fruta: ").capitalize()
kilos = float(input("Ingrese la cantidad de kilos: "))

if fruta in preciosFrutas:
    precioTotal = preciosFrutas[fruta] * kilos
    print("El precio de", kilos, "kilos de", fruta, "es:", precioTotal)
else:
    print("Lo siento, la fruta", fruta, "no está en la lista.")

Ingrese el nombre de la fruta: baNana
Ingrese la cantidad de kilos: 2
El precio de 2.0 kilos de Banana es: 300.0

### 2.5

Escribir un programa que pregunte una fecha en formato dd/mm/aaaa y muestre por pantalla la misma fecha en formato dd de mes de aaaa donde mes es el nombre del mes.

In [ ]:
mes={ 1:'enero',2:'febrero',3:'marzo',4:'abril',5:'mayo',6:'junio',7:'julio',8:'agosto',9:'septiembre',10:'octubre',11:'noviembre',12:'diciembre'}
fechaNum=input('Ingrese una fecha(dd/mm/aaaa):')
fecha=fechaNum.split("/")
mesNum=int(fecha[1])
print(fecha[0],'de',mes[mesNum],fecha[2])

Ingrese una fecha(dd/mm/aaaa):22/10/2003
22 de octubre 2003

### 2.6

Escribir una función que reciba una muestra de números en una lista y devuelva su promedio.

In [ ]:
def calcularPromedio(muestra):
    return sum(muestra) / len(muestra)

muestra = [10, 20, 30, 40, 50]
promedio = calcularPromedio(muestra)
print("El promedio de la muestra es:", promedio)

El promedio de la muestra es: 30.0

### 2.7

Escribir una funcion que tome un string como parametro y devuelva el string pero en orden inversor

In [ ]:
def inverse(word):
  word=word[::-1]
  return word

word=input('Ingrese una palabra: ')
print(inverse(word))

Ingrese una palabra: Palabra
arbalaP

### 2.8
Escribir una funcion que tome un string como parametro y devuelva la palabra mas larga en dicho string

In [ ]:
a=input("Ingrese una oración:")
a=a.split(" ")
palabra=a[0]

for i in a:
  if len(palabra)<len(i): palabra=i

print(palabra)

Ingrese una oración:santiago benito lucas
santiago

### 2.9
Escribir una funcion que tome dos strings como parametros y sin importar mayusculas ni minusculas devuelva:
- True: si son iguales
- False: si son diferentes

In [ ]:
def comparador(word1,word2):
  if word1.lower()==word2.lower():
    return True
  else: return False

word1=input("Ingrese la primer palabra: ")
word2=input("Ingrese la segunda palabra: ")

comparador(word1,word2)

Ingrese la primer palabra: HolA
Ingrese la segunda palabra: HOLA

True

### 3.0
Escribir una funcion que dado una lista de numeros devuelva la multiplicacion de todos ellos

In [ ]:
def multiplicarNumeros(lista):
    resultado = 1
    for numero in lista:
        resultado *= numero
    return resultado

numeros = [1, 5, 8, 2]
resultado = multiplicarNumeros(numeros)
print("El resultado es:", resultado)

El resultado es: 80

### 3.1
Escribir un programa que reciba una cadena de caracteres y devuelva un diccionario con cada palabra que contiene y su frecuencia.

In [ ]:
palabra= input("Ingrese una cadena de caracteres: ")
letras={ 'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0, 'g': 0, 'h': 0, 'i': 0, 'j': 0, 'k': 0, 'l': 0, 'm': 0, 'n': 0, 'o': 0, 'p': 0, 'q': 0, 'r': 0, 's': 0, 't': 0, 'u': 0, 'v': 0, 'w': 0, 'x': 0, 'y': 0, 'z': 0}
for i in palabra:
  if i in letras: letras[i]+=1
print(letras)

Ingrese una cadena de caracteres: Hola buenas tardes
{'a': 3, 'b': 1, 'c': 0, 'd': 1, 'e': 2, 'f': 0, 'g': 0, 'h': 0, 'i': 0, 'j': 0, 'k': 0, 'l': 1, 'm': 0, 'n': 1, 'o': 1, 'p': 0, 'q': 0, 'r': 1, 's': 2, 't': 1, 'u': 1, 'v': 0, 'w': 0, 'x': 0, 'y': 0, 'z': 0}

## Depuración de errores

En cada ejercicio corré el codigo, analizá el error en consola y corregilo

### 3.2

### 3.3

### 3.4

### 3.5