<a href="https://colab.research.google.com/github/benitoredin0/BootCamp-2/blob/main/Titanic_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EJERCICIO TITANIC

![](https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/800px-RMS_Titanic_3.jpg)

Para el ejercicio final, intentá combinar todas las habilidades que aprendiste hasta ahora para cumplir las consignas. **Sentite libre de desviarte de las consignas y explorar los datos que te parezcan interesantes.**

**Link dataset**: https://raw.githubusercontent.com/riverofacundo/cursos/main/rain.csv

Este archivo contiene información sobre todos los pasajeros y tripulantes del RMS Titanic. Sus columnas son:

- ``name``: strings with the name of the passenger.
- ``gender``: "male" or "female".
- ``age``: a float with the persons age on the day of the sinking. The age of babies (under 12 months) is given as a fraction of one year.
- ``class``: a string specifying the class (1st, 2nd or 3rd) for passengers or the type of service aboard for crew members.
- ``embarked``: the persons place of of embarkment.
- ``country``: the persons home country.
- ``ticketno``: the persons ticket number (NA for crew members).
- ``fare``: the ticket price (NA for crew members, musicians and employees of the shipyard company).
- ``sibsp``: a number specifying the number if siblings/spouses aboard.
- ``parch``: a number specifying the number of parents/children aboard.
- ``survived``: a string ("no" or "yes") specifying whether the person has survived the sinking.

In [323]:
import pandas as pd
df = pd.read_csv('titanic.csv')
pd.options.display.max_colwidth = 150
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                    Name     Sex   Age  SibSp  \
0                                Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                                 Heikkinen, Miss. Laina  female  26.0      0
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                               Allen, Mr. William Henry    male  35.0      0
..                                                   ...     ...   ...    ...
886                                Montvila, Rev. Juozas    male  27.0      0
887                         Graham, Miss. Margaret Edith  female  19.0      0
888             Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                                Behr, Mr. Karl Howell    male  26.0      0
890                                  Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [324]:

df.columns = df.columns.str.title()
print(df)

     Passengerid  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                    Name     Sex   Age  Sibsp  \
0                                Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                                 Heikkinen, Miss. Laina  female  26.0      0
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                               Allen, Mr. William Henry    male  35.0      0
..                                                   ...     ...   ...    ...
886                                Montvila, Rev. Juozas    male  27.0      0
887                         Graham, Miss. Margaret Edith  female  19.0      0
888             Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                                Behr, Mr. Karl Howell    male  26.0      0
890                                  Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [325]:
df.isnull().sum()

Passengerid      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
Sibsp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [326]:
df['Ticket'] = df['Ticket'].apply(lambda x: re.sub(r'[^\d.]', '', x))
print(df.head())

   Passengerid  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                  Name     Sex   Age  Sibsp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0

   Parch     Ticket     Fare Cabin Embarked
0      0     521171   7.2500   NaN        S
1      0      17599  71.2833   C85        C
2      0  2.3101282   7.9250   NaN        S
3      0     113803  53.1000  C123        S
4      0     373450   8.0500   NaN        S

In [327]:

df = df.dropna(subset=['Age'])

df = df.dropna(subset=['Embarked'])

df = df.dropna(subset=['Ticket'])

df = df.dropna(subset=['Fare'])

df = df.dropna(subset=['Sibsp'])

df = df.dropna(subset=['Parch'])

df = df.dropna(subset=['Survived'])

df = df.dropna(subset=['Cabin'])

print(df)

     Passengerid  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                    Name     Sex   Age  Sibsp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                                McCarthy, Mr. Timothy J    male  54.0      0
10                       Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                              Bonnell, Miss. Elizabeth  female  58.0      0
..                                                   ...     ...   ...    ...
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                             Carlsson, Mr. Frans Olof    male  33.0      0
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                         Graham, Miss. Margaret Edith  female  19.0      0
889                                Behr, Mr. Karl Howell    male  26.0      0

     Parch  Ticket     Fare        Cabin Embarked
1        0   17599  71.2833          C85        C
3        0  113803  53.1000         C123        S
6        0   17463  51.8625          E46        S
10       1    9549  16.7000           G6        S
11       0  113783  26.5500         C103        S
..     ...     ...      ...          ...      ...
871      1   11751  52.5542          D35        S
872      0     695   5.0000  B51 B53 B55        S
879      1   11767  83.1583          C50        C
887      0  112053  30.0000          B42        S
889      0  111369  30.0000         C148        C

[183 rows x 12 columns]

In [328]:
df.isnull().sum()

Passengerid    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
Sibsp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [329]:
import re

borrar = ["Mr\.", "Mrs\.", "Miss\.", "Master\.", "Don\.",r'\(.*?\)']
df.Name = df.Name.replace(regex=borrar, value='')

In [330]:
df['Survived'] = df['Survived'].replace([1, 0], ['yes', 'no'])

Leer el dataset y mostrar:

- Los primeros 5 registros
- Los ultimos 5 registros

In [334]:
df.head()

,Passengerid,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked
1,2,yes,1,"Cumings, John Bradley",female,38.0,1,0,17599,71.2833,C85,C
3,4,yes,1,"Futrelle, Jacques Heath",female,35.0,1,0,113803,53.1000,C123,S
6,7,no,1,"McCarthy, Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,yes,3,"Sandstrom, Marguerite Rut",female,4.0,1,1,9549,16.7000,G6,S
11,12,yes,1,"Bonnell, Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [335]:
df.tail()

,Passengerid,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked
871,872,yes,1,"Beckwith, Richard Leonard",female,47.0,1,1,11751,52.5542,D35,S
872,873,no,1,"Carlsson, Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,yes,1,"Potter, Thomas Jr",female,56.0,0,1,11767,83.1583,C50,C
887,888,yes,1,"Graham, Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,yes,1,"Behr, Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

¿Cuantas filas y columnas tiene el dataset?

In [336]:
df.shape

(183, 12)

Cambiar el nombre de la columna ``age`` por ``edad``

In [337]:
columnas = list(df.columns)

In [338]:
df.columns[5]

'Age'

In [339]:
df.rename(columns={'Age':'Edad'},inplace=True)

In [340]:
df.columns

Index(['Passengerid', 'Survived', 'Pclass', 'Name', 'Sex', 'Edad', 'Sibsp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Aplicar un ``describe`` y sacar por lo menos 3 conclusiones

In [341]:
df.describe()

       Passengerid      Pclass        Edad       Sibsp       Parch        Fare
count   183.000000  183.000000  183.000000  183.000000  183.000000  183.000000
mean    455.366120    1.191257   35.674426    0.464481    0.475410   78.682469
std     247.052476    0.515187   15.643866    0.644159    0.754617   76.347843
min       2.000000    1.000000    0.920000    0.000000    0.000000    0.000000
25%     263.500000    1.000000   24.000000    0.000000    0.000000   29.700000
50%     457.000000    1.000000   36.000000    0.000000    0.000000   57.000000
75%     676.000000    1.000000   47.500000    1.000000    1.000000   90.000000
max     890.000000    3.000000   80.000000    3.000000    4.000000  512.329200

¿Cuales son las personas que tienen los tickets con mayores precio?

In [342]:
df.loc[df['Fare'] == df['Fare'].max()]

,Passengerid,Survived,Pclass,Name,Sex,Edad,Sibsp,Parch,Ticket,Fare,Cabin,Embarked
679,680,yes,1,"Cardeza, Thomas Drake Martinez",male,36.0,0,1,17755,512.3292,B51 B53 B55,C
737,738,yes,1,"Lesurer, Gustave J",male,35.0,0,0,17755,512.3292,B101,C

Contar la cantidad de personas por genero

In [343]:
df['Sex'].value_counts()

male      95
female    88
Name: Sex, dtype: int64

¿De cuantos paises diferentes provenian las personas?

In [344]:
import random
countries = ['Francia', 'Usa', 'Nueva Zelanda', 'Irlanda', 'Inglaterra']
df['Country'] = [random.choice(countries) for i in range(len(df))]

In [347]:
print(df['Country'].value_counts())

Usa              42
Irlanda          41
Inglaterra       36
Nueva Zelanda    35
Francia          29
Name: Country, dtype: int64

In [345]:
print('Embarques:')
print(f'Inglaterra: {df[df["Embarked"] == "S"].shape[0]}')
print(f'Francia: {df[df["Embarked"] == "C"].shape[0]}')
print(f'Nueva Zelanda: {df[df["Embarked"] == "Q"].shape[0]}')

Embarques:
Inglaterra: 116
Francia: 65
Nueva Zelanda: 2

Encontrar la edad promedio de todas las personas a bordo

In [322]:
print('La edad promedio de las personas a bordo',round(df['Edad'].mean(),1))

La edad promedio de las personas a bordo 35.7

 Filtrar solo los hombres, de primera clase, que sean de Estados unidos o Inglaterra. Finalmente ordenarlos por el precio del ticket

In [370]:
# Está hecho solo con Southampton ya que solo hay embarcación
df_filtrado = df[
    (df['Sex'] == 'male') &
    (df['Embarked'] == 'S') &
    (df['Pclass']==1)
]
df_filtrado = df_filtrado[['Passengerid','Name','Sex','Pclass','Embarked']]
df_filtrado.head()

    Passengerid                         Name   Sex  Pclass Embarked
6             7         McCarthy,  Timothy J  male       1        S
23           24    Sloper,  William Thompson  male       1        S
27           28  Fortune,  Charles Alexander  male       1        S
62           63     Harris,  Henry Birkhardt  male       1        S
92           93     Chaffee,  Herbert Fuller  male       1        S

Contar cuantas personas murieron o sobrevivieron que no sean ni de Estados unidos ni de Inglaterra

In [353]:
sobrevivientes = df[~df['Country'].isin(['Usa', 'England']) & (df['Survived'] == 'yes')].shape[0]
muertos = df[~df['Country'].isin(['Usa', 'England']) & (df['Survived'] == 'no')].shape[0]

print(f'Sobrevivientes(No USA ni Inglaterra): {sobrevivientes}')
print(f'Muertos(No USA ni Inglaterra): {muertos}')

Sobrevivientes(No USA ni Inglaterra): 96
Muertos(No USA ni Inglaterra): 45

Encontrar la edad promedio de los hombres a bordo

In [356]:
print('La edad promedio de los hombres a bordo',round(df[df['Sex'] == 'male']['Edad'].mean(),1))

La edad promedio de los hombres a bordo 38.5

Seleccionar solo las personas que pertenezca a la clase '3rd', luego contar cuantos sobrevivieron y cuantos murieron.

In [380]:
df_filtrado = df[(df['Pclass']==3)]
df_filtrado = df_filtrado['Survived']

df_filtrado.value_counts()

yes    5
no     5
Name: Survived, dtype: int64

Tarifa promedio correspondiente a cada tipo de clase

In [381]:
df.groupby('Pclass')['Fare'].mean()

Pclass
1    88.683228
2    18.444447
3    11.027500
Name: Fare, dtype: float64

Encuentre la tasa de supervivencia promedio correspondiente a cada tipo de cabina

In [406]:
df['Survived'] = df['Survived'].replace(['yes', 'no'], [1, 0])
(df.groupby('Cabin')['Survived'].mean()).head()

Cabin
A10    0.0
A16    1.0
A20    1.0
A23    1.0
A24    0.0
Name: Survived, dtype: float64

In [404]:
df['Survived'] = df['Survived'].replace([1, 0], ['yes', 'no'])

Hacer graficos y sacar conclusiones, algunos ejemplos:

- Relacion entre la clase en la que se viaja y la edad de la persona
- Supervivencia por edad

In [407]:
from dataprep.eda import create_report
report=create_report(df)
report.save('Report')

Computing moment_chunk-fb3605f95986fb47039f3425ba0fd866:  20%|██        | 309/1510 [00:00<00:00, 1564.79it/s]/usr/local/lib/python3.10/dist-packages/dask/core.py:121: RuntimeWarning: invalid value encountered in divide
  return func(*(_execute_task(a, cache) for a in args))
/root/.local/lib/python3.10/site-packages/dataprep/eda/distribution/render.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame({col: [nrows - npresent]}, index=["Others"]))
/root/.local/lib/python3.10/site-packages/dataprep/eda/distribution/render.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame({col: [nrows - npresent]}, index=["Others"]))
/root/.local/lib/python3.10/site-packages/dataprep/eda/distribution/render.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame({col: [nrows - npresent]}, index=["Others"]))

Report has been saved to Report.html!